<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wonders</title>
  </head>
  <body>
    <a href="/wonders/new">Create a new wonder</a>
    <h1>20 Wonders of 2020</h1>
    <% for(let i = 0; i < wonders.length; i++){%>
          <h3><%=wonders[i].name%></h3>
          <p><%=wonders[i].location%></p>
          <a href="/wonders/<%=wonders[i].id%>"><img src="<%=wonders[i].img%>" alt="picture of <%=wonders[i].name%>"></a>
    <%}%>
  </body>
</html>
