<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <nav>
        <p>Welcome, <%=currentUser.username%></p>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout">
        </form>
        <a href="/wonders/original">Current Wonders</a>
    </nav>
    <a href="/wonders/new">Create a new wonder</a>
    <h1>20 Wonders of 2020</h1>
    <% for(let i = 0; i < wonders.length; i++){%>
          <h3><%=wonders[i].name%></h3>
          <div class="">
            <p><%=wonders[i].location%></p>
            <p>Votes: <%=wonders[i].votes%></p>
            <form action="/wonders/<%=wonders[i].id%>/vote?_method=PUT" method="POST">
              <input type="submit" value="Vote">
            </form>
          </div>
          <a href="/wonders/<%=wonders[i].id%>"><img src="<%=wonders[i].img%>" alt="picture of <%=wonders[i].name%>"></a>
    <%}%>
  </body>
</html>
