<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>20 Wonders Campaign</title>
  </head>
  <body>
    <div class="heder">
      <header>
        <%- include('./partials/logout.ejs') %>
        <h1>20 Wonders of 2020</h1>
        <nav>
          <%- include('./partials/nav.ejs') %>
        </nav>
      </header>
    </div>
    <div class="container">
    <% for(let i = 0; i < wonders.length; i++){%>
          <h3><%=wonders[i].name%></h3>
          <div class="">
            <p><%=wonders[i].location%></p>
            <p>Votes: <%=wonders[i].votes%></p>
            <form action="/wonders/<%=wonders[i].id%>/vote?_method=PUT" method="POST">
              <input type="submit" value="Vote">
            </form>
          </div>
          <a href="/wonders/<%=wonders[i].id%>"><img src="<%=wonders[i].img%>" alt="picture of <%=wonders[i].name%>"></a>
    <%}%>
    </div>
  </body>
</html>
