<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="wonder-show">
      <h1><%=wonder.name%></h1>
      <p><%=wonder.location%></p>
      <p>Built in <%=wonder.year%></p>
      <img src="<%=wonder.img%>" alt="a picture of  <%=wonder.name%>">
      <p><%=wonder.description%></p>
      <div class="wonder-btns">
        <form action="/wonders/<%=wonder.id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete">
        </form>
        <form action="/wonders/<%=wonder.id%>/edit" method="GET">
          <input type="submit" value="Edit">
        </form>
      </div>
    </div>
    <form action="/wonders" method="GET">
      <input type="submit" value="Back">
    </form>
  </body>
</html>
