<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=wonder.name%></h1>
    <p><%=wonder.location%></p>
    <p>Built in <%=wonder.year%></p>
    <img src="<%=wonder.img%>" alt="a picture of <%=wonder.name%>">
    <p><%=wonder.description%></p>
  </body>
</html>
