<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>The 7 Wonders of the World</title>
  </head>
  <body>
    <header>
      <%- include('../partials/logout.ejs') %>
      <h1>7 Wonders of the World</h1>
      <nav>
        <%- include('../partials/nav.ejs') %>
      </nav>
    </header>
    <div class="container">
      <% for(let i = 0; i < original7.length; i++){%>
            <h3><%=original7[i].name%></h3>
            <p><%=original7[i].location%></p>
            <a href="/wonders/original/<%=original7[i].id%>"><img src="<%=original7[i].img%>" alt="picture of <%=original7[i].name%>"></a>
      <%}%>
    </div>
  </body>
</html>
