<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>The 7 Wonders of the World</title>
  </head>
  <body>
    <header>
      <%- include('../partials/logout.ejs') %>
      <h1>7 Wonders of the World</h1>
      <nav>
        <%- include('../partials/nav.ejs') %>
      </nav>
    </header>
    <div class="container d-lg-flex flex-lg-wrap">
      <% for(let i = 0; i < original7.length; i++){%>
        <div class="wonder-index">
          <div class="wonder-header">
            <h3><%=original7[i].name%></h3>
            <p><%=original7[i].location%></p>
          </div>
          <div class="index-img">
              <a href="/wonders/original/<%=original7[i].id%>"><img src="<%=original7[i].img%>" alt="picture of <%=original7[i].name%>" class="img-wonder"></a>
          </div>
        </div>
      <%}%>
    </div>
  </body>
</html>
