<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <title><%=wonder.name%></title>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1><%=wonder.name%></h1>
      <p><%=wonder.location%></p>
      <p>Built in <%=wonder.year%></p>
      <img src="<%=wonder.img%>" alt="a picture of  <%=wonder.name%>">
      <p><%=wonder.description%></p>
      <form action="/wonders/original" method="GET">
        <input type="submit" value="Back">
      </form>
    </div>
  </body>
</html>
